@import url(https://fonts.googleapis.com/css?family=Tienne:400,900);

body {
    background: url('../images/fanfare-background.png') no-repeat center center fixed;
    background-size: cover;
    color: #dfdfdf;
    padding-top: 40px;
    padding-bottom: 40px;
}

.fanfare {
    background-color: rgba(25, 45, 72, 0.60);
    border-radius: 5px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
    text-align: center;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    position: absolute;
    z-index: 10;
}

.fanfare h1 {
    font-family: 'Tienne', serif;
    font-size: 3em;
    font-weight: bold;
}

.fanfare p {
    font-family: sans-serif;
}

.enter {
    font-size: small;
    padding: 0 10px 10px 0;
    position: fixed;
    text-align: right;

    bottom: 0;
    right: 0;
}

.enter a {
    color: #aeaeae;
}
