<h2>Lights</h2>

<div class="row">
    <div ng-repeat="light in lights" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="light-button">
            <div class="button-name selectable" ng-click="toggleLight(light)">
                <img id="lamp-status-{{ light.id }}" src="assets/images/lamp_off.png" style="vertical-align: middle" />
                <span ng-show="light.onTimer" class="glyphicon glyphicon-hourglass"></span>&nbsp;&nbsp;{{ light.name }}
            </div>
            &nbsp; &nbsp;
            <div class="button-menu selectable glyphicon glyphicon-menu-hamburger" ng-click="lightMenu(light)"></div>
        </div>
    </div>
</div>

<h2>Scenes</h2>

<div class="row">
    <div ng-repeat="scene in scenes | filter:{visible:1}" class="col-xs-12  col-sm-6 col-md-3">
        <button class="btn btn-large btn-block scene-button {{ scene.buttonMeta }}" ng-click="triggerScene(scene)">
            <span class="{{ scene.iconMeta }}"></span>&nbsp;&nbsp;{{scene.name}}
        </button>
    </div>
</div>

<div id="light-menu" class="light-menu">
    <div class="title">Light Name Here</div>
    <div class="default-item selectable" ng-click="onFor5Secs()">On for 5 seconds</div>  <!-- For testing only -->
    <div class="default-item selectable" ng-click="onFor1()">On for 1 minute</div>
    <div class="default-item selectable" ng-click="onFor15()">On for 15 minutes</div>
    <div class="default-item selectable" ng-click="onFor30()">On for 30 minutes</div>
    <div class="default-item selectable" ng-click="onFor60()">On for 1 hour</div>
    <div class="spacer"></div>
    <div class="cancel-item selectable" onclick="$('#light-menu').hide('slow');">Cancel</div>
</div>
