.light-button {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 20px;
}

.scene-button {
    font-size: 150%;
    font-weight: bold;
    height: 54px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.selectable {
    cursor: pointer;
}
