.left-bar {
	width: 250px;
	left: 0px;
}

.middle-bar {
	width: auto;
	min-width: 488px;
	left: 253px;
	right: 353px;
}

.right-bar {
	width: 350px;
	right:0px;
}

.custom-bar {
	position:absolute;
	top: 40px;
	bottom: 0px;
	height: auto;
	/*
overflow-y: scroll;
	overflow-x: hidden;
*/
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
}

@media (max-width: 1097px) {
	.right-bar {
		left:744px;
	}
}

.right-bar-title {
	padding-left: 19px;
}

.badge-count {
	margin-left: 10%;
}

.create-job-item-space {
	margin-bottom: 10px;
}

.title-before {
	padding-right: 5px;
}

.vertical-align-top {
	vertical-align: top;
}

.vertical-align-middle {
	vertical-align: middle;
}