<div class="row">
    <h2 class="col-xs-12 col-sm-12 col-md-12">About HAL <small> - Version 2014.04.24</small></h2>
</div>

<div style="height: 15px"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6" style="margin-bottom: 20px">
        HAL accidentally came to stands for <i>Home Automation Leader</i> after I first used the
        acronym to paint similarities between this software and the main protagonist in the movie
        <i>2001: A Space Odyssey</i>.
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6" style="margin-bottom: 20px">
        HAL is a uniquely bespoke system that operates on my precise hardware, including
        Raspberry PI, Razberry Z-Wave controller, and Z-Wave home automation devices.
        Unmodified, it will work nowhere else.
    </div>
</div>
